.nav-name {
  color: white;
  margin: 16px 0 16px 32px;
}

.nav-link {
  color: white;
  font-weight: 100;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  margin-left: 32px;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 2px solid teal;
}

.navbar-nav > li > a.hover {
  color: teal;
}